/* 'Control + F' -> Background, Header, Search Bar, Categories Banner, Browse Business */

@font-face{
  font-family: "newfont";
  src: url("./assets/Heebo-Regular.ttf")
}

*{
  margin: 0;
  box-sizing: border-box;  
  padding: 0; 
  font-family: newfont;
}

/* Background */

.background-container {
  position: relative;
  min-height: 70vh;
}

.gradient-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #C1D7AE, #ffffff); 
  z-index:-1;
}

/* Header */

.header{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 13vh;
} 

.logo{
  width:20%;
  display: flex;
  align-items: center;
}

.header img{
  width: 100%;
  padding: 3%;
}

.header-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.header-buttons a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-buttons a:hover{
  opacity: 0.75
}

.icon{
  font-size: 135%;
}

.icon:hover{
  opacity: 0.75;
}

/* Search Bar */

.searchbar{
  width: 35%;
  align-self: center;
  display: flex;
  flex-direction: row;
}

.search-input{
  width: 120%;
  font-style: italic;
  background-color: rgb(231, 229, 229);
  border: none;
  padding: 1.5%;
}

.search-button{
  background-color: rgb(190, 190, 190);
  width: 15%;
  border: none;
}

.search-button:hover{
  cursor: pointer;
  background-color: rgb(167, 167, 167);
}

.dropbtn{
  height: 100%;
}

/* Categories Banner */

.category-container{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
}

.category-container h3{
  padding:2%;
  font-size: 1.3vw;
  text-align: center;
}

.category-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 13vh;
}

.category-list li {
  padding: 2%;
  font-size: 1.3vw;
  text-align: center;
}

.category-list li:hover  {
  background-color: rgb(231, 229, 229);
  cursor: pointer;
  height: 99.5%;
}

/* Browse Business */

.browse-text{
  padding:4%;
  line-height: 250%;
}
