@font-face{
  font-family: "newfont";
  src: url("./assets/Heebo-Regular.ttf")
}

/* 'Control + F' -> Background, Header, Search Bar, Categories Banner, Tags Banner, Browse Business/Product, Browse Card, Home, Business/Product/Service Card,*/

*{
  margin: 0;
  box-sizing: border-box;  
  padding: 0; 
  font-family: newfont;
}

/* Background */

.background-container {
  position: relative;
  min-height: 70vh;
}

.gradient-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #C1D7AE, #ffffff); 
  z-index:-1;
}

/* Header */

.header{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 13vh;
} 

.logo{
  width:20%;
  display: flex;
  align-items: center;
}

.header img{
  width: 100%;
  padding: 3%;
}

.header-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.header-buttons a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-buttons a:hover{
  opacity: 0.75
}

.icon{
  font-size: 135%;
}

.icon:hover{
  opacity: 0.75;
}

/* Search Bar */

.searchbar{
  width: 35%;
  align-self: center;
  display: flex;
  flex-direction: row;
}

.search-input{
  width: 120%;
  font-style: italic;
  background-color: rgb(231, 229, 229);
  border: none;
  padding: 1.5%;
}

.search-button{
  background-color: rgb(190, 190, 190);
  width: 15%;
  border: none;
}

.search-button:hover{
  cursor: pointer;
  background-color: rgb(167, 167, 167);
}

.dropbtn{
  height: 100%;
}

/* Categories Banner */

.category-container{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
}

.category-container h3{
  padding:2%;
  font-size: 1vw;
  text-align: center;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.category-list li {
  padding: 2%;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-list li:hover  {
  background-color: #ededed;
  cursor: pointer;
}

.category-list li:not(:first-child) {
  border-left: 1px solid #ccc;
}

/* Browse Business/Product */

.browse-text{
  padding:4%;
  line-height: 250%;
}

.browse-body{
  display: flex;
  flex-direction: row;
}

.browse-bps-cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14vw, 1fr));
  grid-gap: 3vw;
  width: 100%;
  height: 35vh;
  margin: 2%;
}

/* Tags Banner */

.tags-container{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-width: 11vw;
  height: 100vh;
  font-size: 1vw;
}

.dropdown-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10%;
}

.chevrons:hover{
  cursor: pointer;
}

.tagOption {
  padding:2%;
  text-align: left;
}

.tagOption input{
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 10%;
}

/* Browse Card */

.browsecard-container a{
  text-decoration: none;
  color: black;
}

.browseCard {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20%;
}

.browseCard img{
  width: 30vw;
  height: 50vh;
  object-fit: cover;
}

.bc-title{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  font-size: 1.2vw;
}

/* Home */

.browse-options{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 1px grey solid;
  margin-bottom: 20%;
}

/* Business/Product/Service Card */

.businesscard-container, .servicecard-container, .productcard-container{
  width: 15vw;
  height: 35vh;
  background-color: white;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  text-decoration: none;
}

.businesscard-container:hover, .servicecard-container:hover, .productcard-container:hover{
  opacity: 90%;
}

.businesscard-container img, .servicecard-container img, .productcard-container img{
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 70%;
}

.businesscard-textbanner, .servicecard-textbanner, .productcard-textbanner{
  text-decoration: none;
  color: black;
  bottom: 0;
  position: absolute;
  padding-left: 5%;
  padding-bottom: 10%;
}

.businesscard-title, .servicecard-title, .productcard-title{
  font-weight: bold;
  font-size: 1.1vw;
}

.businesscard-location, .productcard-business, .servicecard-business{
  font-style: italic;
  font-size: 0.9vw;
}

.productcard-price, .servicecard-price{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A7524C;
  color: white;
  bottom: 0;
  position: absolute;
  width: 100%;
  font-size: 1vw;
}

/* Content container */

.content-container{
  display: flex;
  flex-direction: column;
  font-size: 150%;
  width: 80%;
  margin: auto;
  padding-top: 2%;
}

.label-input-combo{
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

/* Tags and categories */

.tag-select-container{
  align-items: center;
  display: flex;
  padding: 5px;
}

.tag-checkbox{
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.tag-checkbox::before{
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em green;
}

.tag-checkbox:checked::before{
  transform: scale(1);
}

.tag-groups{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.tag-rows{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}



/* Business detail */

.business-detail-business-section{
  display: flex;
  flex-direction: column;
  max-width: 80%;
  align-self: center;
}

.business-detail-info{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.business-detail-info-desc{
  margin-top: 1%;
}

.business-detail-contact{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.business-detail-links{
  display: flex;
  margin-top: 2%;
}

/* Product detail */

.product-detail-product-section{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 2%;
}

/* Service detail */

.service-detail-service-section{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 2%;
}

/* Login/Lgout buttons */

.login-logout-button{
  border: 1px solid rgb(63, 151, 63);
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  background: rgb(63, 151, 63);
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 4px;
}

.login-logout-button:hover{
  background: white;
}

.login-logout-button:active{
  opacity: 0.8;
}

/* General Button */

.general-button{
  border: 1px solid rgb(63, 151, 63);
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  background: rgb(63, 151, 63);
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 4px;
  margin: 1em;
}

.general-button:hover{
  background: white;
}

.general-button:active{
  opacity: 0.8;
}

/* temp */

.test-buttons-home{
  display: flex;
  flex-direction: column;
}